@model doctorProfileVM
@{
    ViewData["Title"] = $"{Model.Name}'s Profile";
    var i = 0;
}
@{
    ViewData["Title"] = "Search Doctors";
    var today = (int)DateTime.Now.DayOfWeek;

}
@functions {
    public static string GetNextDate(int day)
    {
        DateTime today = DateTime.Now;
        int todayIndex = (int)today.DayOfWeek;

        int daysToAdd = (day - todayIndex + 7) % 7;
        if (daysToAdd == 0) return "Today";
        if (daysToAdd == 1) return "Tomorrow";

        DateTime nextDate = today.AddDays(daysToAdd);
        return nextDate.ToString("ddd d/M"); // Example: "Tue 1/12"
    }
}

@section Styles {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="~/lib/calenderJS/dist/calendar.js.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="~/css/doctorProfile.css">
}

<div class="container-fluid" style="padding-top:80px">
    <!-- #region Alerts -->
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["Added"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["Added"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["Updated"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["Updated"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["Deleted"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> @TempData["Deleted"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <!-- #endregion -->
    <div class="row">
        <div class="col-md-4">
            <div class=" sticky-md-top text-center" style="padding-top:89px">
                <form asp-action="ChangeImage" asp-controller="Account" class="position-relative d-inline-block" id="imageForm" enctype="multipart/form-data">
                    
                    <img src="~/uploads/images/@Model.Image" class="rounded-circle img-thumbnail SP-photo" height="150" width="150" alt="Doctor Image">
                    <input type="file" name="File" class="SP-file d-none"/>
                    <div class="SP-upload"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                </form>

                <h3 class="mt-2">Dr. @Model.Name</h3>
                <p class="fw-bold">@Model.Title</p>
                <p class="mb-2">@Model.Qualifications</p>
                <a href="tel:@Model.Phone" class="btn col-12 SP-callBTN">
                    <i class="fa-solid fa-phone-volume me-2"></i>
                    @Model.Phone
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="doctorTabs">
                <li class="nav-item">
                    <a class="nav-link SP-primaryText @(ViewBag.tab == "details" ? "active" : "")" id="details-tab" data-bs-toggle="tab" href="#details">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link SP-primaryText @(ViewBag.tab == "reviews" ? "active" : "")" id="reviews-tab" data-bs-toggle="tab" href="#reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link SP-primaryText @(ViewBag.tab == "calender" ? "active" : "")" id="calender-tab" data-bs-toggle="tab" href="#calender">Calender</a>
                </li>
            </ul>
            <div class="tab-content my-3 ">
                
                <!-- #region Details Section -->

                <div class="tab-pane fade @(ViewBag.tab == "details" ? "show active" : "")" id="details">
                    <div class="col-12 flex-wrap justify-content-center my-3 gap-2 SP-bookCards">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                @foreach (var app in Model.Appointments)
                                {
                                    <div class="card d-flex text-center swiper-slide">
                                        <div class="card-header SP-bookHeader p-1">
                                            @* @if(app.Day.Date == DateTime.Now.Date)
                                            {
                                                @:Today
                                            }
                                            else if(app.Day.Date == DateTime.Now.AddDays(1).Date)
                                            {
                                                @:Tomorrow
                                            }
                                            else
                                            {
                                                app.Day.ToString("ddd d/M");
                                            } *@
                                            @GetNextDate(app.Day)
                                        </div>

                                        <div class="card-body SP-primaryText flex-column justify-content-center p-2">
                                            @if (app.Time != null && app.IsAvailable)
                                            {
                                                <p class="mb-1">From <strong>@app.Time.Split("|")[0]</strong></p>
                                                <p class="mb-1">To <strong>@app.Time.Split("|")[1]</strong></p>
                                            }
                                            else if (!app.IsAvailable)
                                            {
                                                <p class="mb-1">All Appointments</p>
                                                <p class="mb-1">Reserved</p>
                                            }
                                            else
                                            {
                                                <p class="mb-1">No Available</p>
                                                <p class="mb-1">Appointments</p>
                                            }
                                        </div>
                                        <a href="#" class="card-footer btn @(app.Time == null ? "disabled" : "")  SP-bookBTN p-1">Book</a>
                                    </div>
                                }
                            </div>
                            <div class="swiper-scrollbar position-static mt-2"></div>
                        </div>
                    </div>

                    <h4>Specialties</h4>
                    <ul>
                        <div class="SP-badge-scroll d-flex flex-wrap gap-1">
                            @foreach (var spec in Model.Specialties)
                            {
                                <span class="badge rounded-pill SP-badge">@spec</span>
                            }
                        </div>
                    </ul>
                    <h4>Experience</h4>
                    <p class="offset-1"><i class="fa-solid fa-calendar-days SP-icon"></i><span class="ms-2">@Model.Experience+ Years</span></p>
                    <h4>Location</h4>
                    <p class="offset-1"><i class="fa-solid fa-location-dot SP-icon"></i><span class="ms-2">@Model.Governorate : @Model.Location</span></p>

                    <h4>Fees</h4>
                    <p class="fw-bold offset-1"><i class="fa-solid fa-money-bills SP-icon"></i><span class="ms-2 SP-primaryText">@Model.Fees E£</span></p>


                    <h4>
                        Rating
                    </h4>
                    <p class="SP-primaryText offset-1">
                        @if (Model.Rating <= 1)
                        {
                            <i class="fa-regular fa-face-frown SP-icon me-2"></i>
                        }
                        else if (Model.Rating <= 2.5)
                        {
                            <i class="fa-regular fa-face-frown-open SP-icon me-2"></i>
                        }
                        else if (Model.Rating <= 3)
                        {
                            <i class="fa-regular fa-face-meh SP-icon me-2"></i>
                        }
                        else if (Model.Rating < 4.5)
                        {
                            <i class="fa-regular fa-face-smile SP-icon me-2"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-face-smile-beam SP-icon me-2"></i>
                        }

                        @for (i = 0; i < (int)Model.Rating; i++)
                        {
                            <i class="fa-solid fa-star"></i>
                        }
                        @if (Model.Rating != (int)Model.Rating)
                        {
                            i++;
                            <i class="fa-solid fa-star-half-stroke"></i>
                        }
                        @for (i = i; i < 5; i++)
                        {
                            <i class="fa-regular fa-star"></i>
                        }
                        <span>@Model.Rating</span>
                    </p>
                    <h4>Map</h4>
                    <div class=" col-12"
                         style="height:400px"
                         id="map"
                         data-latitude="@Model.Latitude" data-longitude="@Model.Longitude"></div>
                </div>

                <!-- #endregion -->

                <!-- #region Rating Section -->

                <div class="tab-pane fade @(ViewBag.tab == "reviews" ? "show active" : "")" id="reviews">
                    <h4>Patient Reviews</h4>
                    <div id="reviewsContainer">
                        @if (Model.Ratings.Count == 0)
                        {
                            <h1 class="SP-primaryText text-center p-3">No Review Exists</h1>
                        }
                        @foreach (var review in Model.Ratings)
                        {
                            <div class="border p-3 mb-2 rounded" data-aos="fade-left">
                                <h5>@review.PatientName</h5>
                                <p>@review.Review</p>
                                <p class="SP-primaryText">
                                    Rating:
                                    @if (review.Rate <= 1)
                                    {
                                        <i class="fa-regular fa-face-frown SP-icon me-2"></i>
                                    }
                                    else if (review.Rate <= 2.5)
                                    {
                                        <i class="fa-regular fa-face-frown-open SP-icon me-2"></i>
                                    }
                                    else if (review.Rate <= 3)
                                    {
                                        <i class="fa-regular fa-face-meh SP-icon me-2"></i>
                                    }
                                    else if (review.Rate < 4.5)
                                    {
                                        <i class="fa-regular fa-face-smile SP-icon me-2"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-face-smile-beam SP-icon me-2"></i>
                                    }

                                    @for (i = 0; i < (int)review.Rate; i++)
                                    {
                                        <i class="fa-solid fa-star"></i>
                                    }
                                    @if (review.Rate != (int)review.Rate)
                                    {
                                        i++;
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                    }
                                    @for (i = i; i < 5; i++)
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                    <span>@review.Rate</span>
                                </p>
                                <p class="fs-6 SP-primaryText">@review.Date</p>
                            </div>
                        }
                        <nav aria-label="Page navigation">
                            <ul class="pagination text-center justify-content-center">
                                <li class="page-item flex-fill">
                                    <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage - 2)" asp-route-reviews="true" class="page-link SP-prevBTN SP-primaryText" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                @if (ViewBag.pageNums >= 1)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="0" asp-route-reviews="true" class="page-link @(ViewBag.currentPage == 1 ? "SP-active" : "")">1</a>
                                    </li>
                                }

                                <!-- Left Ellipsis -->
                                @if (ViewBag.currentPage > 4)
                                {
                                    <li class="page-item flex-fill disabled"><span class="page-link">...</span></li>
                                }
                                @for (int j = Math.Max(2, ViewBag.currentPage - 2); j <= Math.Min(ViewBag.pageNums - 1, ViewBag.currentPage + 2); j++)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@(j - 1)" asp-route-reviews="true" class="page-link @(j == ViewBag.currentPage ? "SP-active" : "")">@j</a>
                                    </li>

                                }<!-- Correct usage on an anchor tag -->
                                @if (ViewBag.currentPage < ViewBag.pageNums - 3)
                                {
                                    <li class="page-item flex-fill disabled"><span class="page-link">...</span></li>
                                }

                                <!-- Last Page -->
                                @if (ViewBag.pageNums > 1)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.pageNums - 1)" asp-route-reviews="true" class="page-link @(ViewBag.currentPage == ViewBag.pageNums ? "SP-active" : "")">@ViewBag.pageNums</a>
                                    </li>
                                }
                                <li class="page-item flex-fill">
                                    @if (ViewBag.currentPage == ViewBag.pageNums)
                                    {
                                        <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage)" asp-route-reviews="true" class="page-link SP-nextBTN disabled SP-primaryText" aria-label="Next">
                                            <span class="w-100" aria-hidden="true">&raquo;</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage)" asp-route-reviews="true" class="page-link SP-nextBTN SP-primaryText" aria-label="Next">
                                            <span class="w-100" aria-hidden="true">&raquo;</span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

                <!-- #endregion -->
                
                <!-- #region Calender Section -->

                <div class="tab-pane fade @(ViewBag.tab == "calender" ? "show active" : "")" id="calender">
                    <div id="SP-Calendar"></div>
                </div>

                <!-- #endregion -->
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    @if (ViewBag?.Success ?? false)
    {
        <script type="module">
            Swal.fire({
                title: "Success",
                text: "Your profile has been updated!",
                color: "#004085",
                confirmButtonColor: "#004085",
                icon: "success"
            });
        </script>
    }
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/lib/calenderJS/dist/calendar.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        var cal = @Html.Raw(ViewBag.cal)
        console.log(cal);
    </script>
    <script src="~/js/doctorProfile.js"></script>
}

