@model doctorProfileVM
@{
    ViewData["Title"] = $"{Model.Name}'s Profile";
    var i = 0;
}
@{
    ViewData["Title"] = "Search Doctors";
    var today = (int)DateTime.Now.DayOfWeek;

}
@functions {
    public static string GetNextDate(int day)
    {
        DateTime today = DateTime.Now;
        int todayIndex = (int)today.Day;

        int daysToAdd = (day - todayIndex);
        if (daysToAdd == 0) return "Today";
        if (daysToAdd == 1) return "Tomorrow";

        DateTime nextDate = today.AddDays(daysToAdd);
        return nextDate.ToString("ddd d/M"); // Example: "Tue 1/12"
    }
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/lib/calenderJS/dist/calendar.js.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/doctorProfile.css">
}

<div class="container-fluid" style="padding-top:80px">
    <partial name="_AlertValidationPartial"></partial>
    <div class="row">
        <div class="col-md-4">
            <div class=" sticky-md-top text-center" style="padding-top:89px">
                <form asp-action="ChangeImage" asp-controller="Account" class="position-relative d-inline-block" id="imageForm" enctype="multipart/form-data">

                    <div>
                        <img src="~/uploads/images/@Model.Image" class="rounded-circle img-thumbnail SP-photo" alt="Doctor Image">
                    </div>
                    @if(User.IsInRole("doctor") && ViewBag.ID)
                    {
                        <input type="file" name="File" class="SP-file d-none" />
                        <input type="hidden" name="ID" value="@Model.ID" class="d-none" />
                        <div class="SP-upload"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                    }
                </form>

                <h3 class="mt-2">Dr. @Model.Name</h3>
                <p class="fw-bold">@Model.Title</p>
                <p class="mb-2">@Model.Qualifications</p>
                <a href="tel:@Model.Phone" class="btn col-12 SP-callBTN">
                    <i class="fa-solid fa-phone-volume me-2"></i>
                    @Model.Phone
                </a>
                @if(User.IsInRole("doctor") && ViewBag.ID)
                {
                    <a asp-action="edit" asp-controller="Doctor" class="btn col-12 SP-callBTN mt-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit Profile
                    </a>
                    <a asp-action="changePassword" asp-controller="Account" class="btn col-12 SP-callBTN mt-3">
                        <i class="fa-solid fa-key"></i>
                        Change Password
                    </a>
                }
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="doctorTabs">
                <li class="nav-item">
                    <a class="nav-link SP-primaryText @(ViewBag.tab == "details" ? "active" : "")" id="details-tab" data-bs-toggle="tab" href="#details">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link SP-primaryText @(ViewBag.tab == "reviews" ? "active" : "")" id="reviews-tab" data-bs-toggle="tab" href="#reviews">Reviews</a>
                </li>
                @if(User.IsInRole("doctor") && ViewBag.ID)
                {
                    <li class="nav-item">
                        <a class="nav-link SP-primaryText @(ViewBag.tab == "calender" ? "active" : "")" id="calender-tab" data-bs-toggle="tab" href="#calender">Calender</a>
                    </li>
                }
            </ul>
            <div class="tab-content my-3 ">

                <!-- #region Details Section -->

                <div class="tab-pane fade @(ViewBag.tab == "details" ? "show active" : "")" id="details">
                    <div class="col-12 flex-wrap justify-content-center my-3 gap-2 SP-bookCards">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                    <partial name="_ReservationCardsPartial" , model="Model.Appointments"></partial>
                            </div>
                            <div class="swiper-scrollbar position-static mt-2"></div>
                        </div>
                    </div>

                    <h4>Speciality</h4>
                    <ul>
                        <div class="SP-badge-scroll d-flex flex-wrap gap-1">
                            <span class="badge rounded-pill SP-badge">@Model.Speciality</span>
                        </div>
                    </ul>
                    <h4>Waiting Time</h4>
                    <p class="offset-1"><i class="fa-solid fa-stopwatch SP-icon"></i><span class="ms-2">@Model.WaitingTime+ Minutes</span></p>
                    <h4>Location</h4>
                    <p class="offset-1"><i class="fa-solid fa-location-dot SP-icon"></i><span class="ms-2">@Model.Governorate : @Model.Location</span></p>

                    <h4>Fees</h4>
                    <p class="fw-bold offset-1"><i class="fa-solid fa-money-bills SP-icon"></i><span class="ms-2 SP-primaryText">@Model.Fees E£</span></p>


                    <h4>
                        Rating
                    </h4>
                    <p class="SP-primaryText offset-1">
                            <partial name="_RatingPartial" model="@Model.Rating"></partial>
                    </p>
                    <h4>Map</h4>
                    <div class=" col-12"
                    style="height:400px"
                    id="map"
                    data-latitude="@Model.Latitude" data-longitude="@Model.Longitude"></div>
                </div>

                <!-- #endregion -->

                <!-- #region Rating Section -->

                <div class="tab-pane fade @(ViewBag.tab == "reviews" ? "show active" : "")" id="reviews">
                    <h4>Patient Reviews</h4>
                    <div id="reviewsContainer">
                        @if (Model.Ratings.Count == 0)
                        {
                            <h1 class="SP-primaryText text-center p-3">No Review Exists</h1>
                        }
                        @foreach (var review in Model.Ratings)
                        {
                            <div class="border p-3 mb-2 rounded" data-aos="fade-left">
                                <h5>@review.PatientName</h5>
                                <p>@review.Review</p>
                                <p class="SP-primaryText">
                                    Rating:
                                    @if (review.Rate <= 1)
                                    {
                                        <i class="fa-regular fa-face-frown SP-icon me-2"></i>
                                    }
                                    else if (review.Rate <= 2.5)
                                    {
                                        <i class="fa-regular fa-face-frown-open SP-icon me-2"></i>
                                    }
                                    else if (review.Rate <= 3)
                                    {
                                        <i class="fa-regular fa-face-meh SP-icon me-2"></i>
                                    }
                                    else if (review.Rate < 4.5)
                                    {
                                        <i class="fa-regular fa-face-smile SP-icon me-2"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-face-smile-beam SP-icon me-2"></i>
                                    }

                                    @for (i = 0; i < (int)review.Rate; i++)
                                    {
                                        <i class="fa-solid fa-star"></i>
                                    }
                                    @if (review.Rate != (int)review.Rate)
                                    {
                                        i++;
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                    }
                                    @for (i = i; i < 5; i++)
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                    <span>@review.Rate</span>
                                </p>
                                <p class="fs-6 SP-primaryText">@review.Date</p>
                            </div>
                        }
                        <nav aria-label="Page navigation">
                            <ul class="pagination text-center justify-content-center">
                                <li class="page-item flex-fill @(Model.Ratings.Count == 0 ? "disabled" : "")">
                                    <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage - 2)" asp-route-reviews="true" class="page-link SP-prevBTN SP-primaryText" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                @if (ViewBag.pageNums >= 1)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="0" asp-route-reviews="true" class="page-link @(ViewBag.currentPage == 1 ? "SP-active" : "")">1</a>
                                    </li>
                                }

                                <!-- Left Ellipsis -->
                                @if (ViewBag.currentPage > 4)
                                {
                                    <li class="page-item flex-fill disabled"><span class="page-link">...</span></li>
                                }
                                @for (int j = Math.Max(2, ViewBag.currentPage - 2); j <= Math.Min(ViewBag.pageNums - 1, ViewBag.currentPage + 2); j++)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@(j - 1)" asp-route-reviews="true" class="page-link @(j == ViewBag.currentPage ? "SP-active" : "")">@j</a>
                                    </li>

                                }<!-- Correct usage on an anchor tag -->
                                @if (ViewBag.currentPage < ViewBag.pageNums - 3)
                                {
                                    <li class="page-item flex-fill disabled"><span class="page-link">...</span></li>
                                }

                                <!-- Last Page -->
                                @if (ViewBag.pageNums > 1)
                                {
                                    <li class="page-item flex-fill">
                                        <a onclick="GoToPage()" asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.pageNums - 1)" asp-route-reviews="true" class="page-link @(ViewBag.currentPage == ViewBag.pageNums ? "SP-active" : "")">@ViewBag.pageNums</a>
                                    </li>
                                }
                                <li class="page-item flex-fill @(Model.Ratings.Count == 0 ? "disabled" : "")">
                                    @if (ViewBag.currentPage == ViewBag.pageNums)
                                    {
                                        <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage)" asp-route-reviews="true" class="page-link SP-nextBTN disabled SP-primaryText" aria-label="Next">
                                            <span class="w-100" aria-hidden="true">&raquo;</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Profile" asp-controller="Doctor" asp-route-id="@Model.ID" asp-route-pageNum="@((int)ViewBag.currentPage)" asp-route-reviews="true" class="page-link SP-nextBTN SP-primaryText" aria-label="Next">
                                            <span class="w-100" aria-hidden="true">&raquo;</span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

                <!-- #endregion -->

                <!-- #region Calender Section -->
                @if (User.IsInRole("doctor") && ViewBag.ID)
                {
                    <div class="tab-pane fade @(ViewBag.tab == "calender" ? "show active" : "")" id="calender">
                        <div id="SP-Calendar"></div>
                    </div>

                    <div class="modal fade" id="SP-CalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Working Day Form</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="AddReservation" asp-controller="Doctor">
                                    <div class="modal-body">

                                        <input type="hidden" name="ResID" class="SP-resID"/>
                                        <input type="hidden" name="ID" value="@Model.ID"/>
                                        <div class="mb-3 d-none">
                                            <input type="date" class="form-control SP-calDate" id="date" name="date" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="startTime" class="form-label">Start Time</label>
                                            <input type="time" class="form-control SP-startTime" id="startTime" name="StartTime" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="endTime" class="form-label">End Time</label>
                                            <input type="time" class="form-control SP-endTime" id="endTime" name="EndTime" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="count" class="form-label">Max Reservations</label>
                                            <input type="number" class="form-control SP-maxRes" id="count" name="MaxRes" min="1" max="50" required>
                                        </div>                                
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn SP-bookBTN col-12 SP-CalSubmit">Add</button>
                                        <button type="button" class="btn SP-bookBTN col-12" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <!-- #endregion -->
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered bg-opacity-10" style="width:fit-content">
        <div class="modal-content bg-opacity-10">

            <div class="modal-body bg-opacity-10 p-0" style="width:fit-content">
                <div class="p-4 bg-white position-relative   rounded border shadow mx-auto" style="width: fit-content;">

                    <article class=" text-center">
                        <h1 class="display-4 text-center mb-5">Payment</h1>
                        <p>Pay with PayPal</p>
                        <div class="form-group mb-3">
                            @* <label for="amount" class="form-label">Amount</label> *@
                            @* <input type="number" class="form-control" id="amount" placeholder="Enter amount" value="@ViewBag.amount" step="0.01" min="0" required/> *@
                        </div>
                        <div id="notification-container"></div>
                        <div id="paypal-button-container"></div>
                    </article>

                    <div class=" position-absolute top-0 end-0 m-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/lib/calenderJS/dist/calendar.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let ResId;
        function ShowModal(resId){
            ResId = resId;
            const myModal = new bootstrap.Modal(document.getElementById('exampleModal')).show();
            document.getElementById("notification-container").innerHTML = "";
        }
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=AdimxsSnXMRj-2tEF5tUCV58FWwGIkcm-vUxSzChwOH8Ez1dnNNKkfqm9YyRU6ZKgf4ifzcGVN4wlt41&currency=USD"></script>
    <script src="~/js/payment.js"></script>
    <script>
        var cal = @Html.Raw(ViewBag.cal)
    </script>
    <script src="~/js/doctorProfile.js"></script>
}

