@model AppointmentViewModel

<img src="~/uploads/images/@Model.DoctorImagePath" alt="Doctor" class="appointment-doctor-image rounded-circle object-fit-cover m-2">
<div class="w-75 patient-appointment-card-content d-flex justify-content-between">
    <div class="d-flex flex-column">
        <h5 class="mb-1">Dr. @Model.Doctor</h5>
        <p class="mb-1 text-muted">@Model.Specialty</p>
    </div>
    <div class="d-flex flex-column mt-sm-1">
        <span class="patient-appointment-details">
            <i class="fas fa-map-marker-alt me-1"></i> @Model.Governorate: @Model.Location
        </span>
        <span class="patient-appointment-details mt-sm-2">
            <i class="far fa-calendar-alt me-1 @(Model.DateTime < DateTime.Now ? "text-danger" : "")"></i> @Model.DateTime.ToString("MMMM d, yyyy 'at' h:mm tt")
        </span>
    </div>
</div>
@if (Model.DateTime >= DateTime.Now)
{
    <i class="fas fa-times appointment-cancel-icon position-absolute" title="Cancel Appointment"></i>
}

<a asp-controller="Patient" asp-action="CancelAppointment" asp-route-appointmentId="@Model.Id" class="profile-appointment-id d-none"></a>