<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/min/style.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" /> *@
    @await RenderSectionAsync("Styles",false)
</head>

@{
    var customNav = ViewData["Title"] == "Home" ? "bg-primary-color-75 py-2" : "bg-primary-color py-3";
}
@{
    var CurrentPage =  ViewContext.RouteData.Values["action"]?.ToString();
}
<body class="m-0">
    <nav id="MainNav" class="position-fixed w-100 navbar navbar-dark navbar-expand-lg @customNav">
        <div class="container-fluid px-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="/images/Vezeeta.jpeg" alt="" />
            </a>

            <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-md-5 m-auto">
                    <li class="nav-item">
                        <a class="nav-link @(CurrentPage.ToLower() == "index"?"active" :"")" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(CurrentPage.ToLower() == "search"?"active" :"")" asp-controller="Doctor" asp-action="Search">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(CurrentPage.ToLower() == "about"?"active" :"")" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(CurrentPage.ToLower() == "contact"?"active" :"")" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link @(CurrentPage.ToLower() == "doctor"?"active" :"")" asp-controller="Doctor" asp-action="Search">Services</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link @(CurrentPage.ToLower() == "doctor"?"active" :"")" asp-controller="Doctor" asp-action="Search">Search</a> *@
                    @* </li> *@
                </ul>
                <ul class="navbar-nav gap-md-2">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" asp-controller="Account" asp-action="DoctorRegister">Join us</a>
                        </li>
                    }
                    else{
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="@(User.IsInRole("patient") ? "Patient" : "Doctor")" asp-action="Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"> Logout </a>
                        </li>
                  }
              </ul>
            </div>
        </div>
    </nav>

    <div class="">
        <main role="main"  class="">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>


       document.addEventListener("DOMContentLoaded", function () {
       // let path = window.location.pathname.toLowerCase();
       // document.querySelectorAll(".nav li a").forEach(link => {
       //  if (link.getAttribute("href").toLowerCase() === path) {
       //      link.parentElement.classList.add("active");
       //           document.querySelector("nav a")
       //  }
       document.querySelector("button.navbar-toggler").addEventListener("click",()=>{


                  var nav = document.getElementById("MainNav");
                    if(nav.classList.contains("bg-primary-color-75")&&nav.classList.contains("bg-primary-color"))
                           nav.classList.remove("bg-primary-color")
                    else                 
                   if(nav.classList.contains("bg-primary-color-75"))
                         nav.classList.add("bg-primary-color")


                   
                  

        });
            });

    </script>

</body>
</html>
